/* HEADER */
header {
  width: 100%;
  height: 100px;
  background-color: #d9ed92;
}

.inner {
  width: 1280px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  position: relative;
  background-color: #52b69a;
}

.inner .left-bar {
  width: 400px;
  height: 100%;
}
.inner .left-bar .search-wrapper {
  display: flex;
  width: 300px;
  height: 35px;
  border: 2px solid #282222;
  border-radius: 8px;
  position: absolute;
  bottom: 20%;
}
.search-icon {
  width: 15px;
  height: 15px;
  margin: 5px 10px auto 5px;
}
.search__input {
  width: 100%;
  margin-right: 3px;
  border: none;
  font-size: 18px;
  background-color: inherit;
  overflow: hidden;
}

.inner .right-bar {
  width: 400px;
  height: 100%;
  position: absolute;
  right: 0;
}
.inner .right-bar .manage-executive-container {
  display: flex;
  position: absolute;
  bottom: 20%;
}
.executive-add-btn,
.executive-del-btn {
  margin-left: 30px;
}
.executive-add-btn,
.executive-del-btn {
  padding: 1.2rem 1.8rem;
  font-size: 14px;
  font-weight: 600;
  background-color: #184e77;
  color: white;
  border: none;
  border-radius: 8px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
  cursor: pointer;
}
.executive-add-btn:hover {
  background-color: #b5e48c;
}
.executive-del-btn:hover {
  background-color: #b5e48c;
}


main {
  width: 100%;
  min-height: 1200px;
  background-color: #d9ed92;
}

.common-wrapper {
  width: 1280px;
  height: 90%;
  margin: 0 auto;
  background-color: #b5e48c;
}

.common-wrapper .executive-container {
  width: 100%;
  background-color: #e9edc9;
}
.common-wrapper .executive-container .executive-list{
  width: 100%;
  height: 100px;
}
.common-wrapper .executive-container .row-data {
  height: 200px;
  text-align: center;
}